.App {
  --background-color-gray: #8D8E97;
  --background-color-medium-gray: #DADADA;
  --background-color-extra-light: #F3F3F3;

  --system-primary-color: #2231AA;
  --system-primary-second-color: #5360CD;
  --system-secondary-color: #313037;

  --contextual-error-color: #FD3419;
  --contextual-white-color: #FFFFFF;
  --contextual-light-color: #E8E8E8;

  --background-primary-color: #F3F3F3;
  --text-primary-color: #323537;
  --text-secondary-color: #AFB2B6;
  --border-accent-color: dimgray;
  --border-primary-color: gray;

  --svg-image-fill-color: #313037;
  --svg-image-menu-color-light: #AFB2B6;
  --svg-image-menu-color-dark: #313037;

  &.dark {
    --contextual-white-color: #313037;
    --background-color-gray: #313037;
    --background-color-medium-gray: #DADADA;
    --background-color-extra-light: #313037;

    --background-primary-color: #313037;
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #AFB2B6;
    --border-accent-color: #FFFFFF;
    --border-primary-color: gray;

    --svg-image-fill-color: #FFFFFF;
    --svg-image-menu-color-light: #AFB2B6;
    --svg-image-menu-color-dark: #313037;
  }
}